

@media screen and (min-width : 780px) {
.site-wrapper {
    background: $grain;
    padding: 100px 100px 50px 100px;
    }
}

.site-wrapper {
    position: relative;
}

.container {
    background: linear-gradient(to right, rgba(204,204,204,1) 0%, rgba(204,204,204,1) 9%, rgba(255,255,255,1) 90%);
    width: 100%;
    position:relative;
    padding: 0;
    @include box-shadow;
    @include border-top-radius(15px);
    @include border-bottom-radius(15px);
}

h1{
    color: $stark;
    font-family: 'Raleway',sans-serif;
}

h2,h3,h4,h5 {
    display: inline-block;
    color: rgb(136, 136, 136);
    font-family: 'Noto Sans', sans-serif;;
    font-weight: 400;
}

h2{
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 700;
    padding-bottom: 25px;
    
    &:before{
        background-image: url('img/lower-bar-01.png');
        background-size: 12px 12px;
        display: block;
        width: 12px; 
        height: 12px;
        content:"";
        margin: 5px 10px 1px 45px; 
    }
    &:after{
        background-image: url('img/lower-bar-01.png');
        background-size: 12px 12px;
        display: block;
        width: 12px; 
        height: 12px;
        content:"";
        margin: 1px 10px 0 25px;
    }
}

p {
   font-family: 'Noto Sans', sans-serif;
   font-weight: 400;
   color: $charcoal;
   font-size: 1em;
    display: block;
    text-align: justify;
    text-align-last: left; 
}

.p-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding: 5% 0 0 0;
    max-width: 85%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 5%;
}

.skill-img{
    position: relative;
    display: inline-block;
    max-width: 60%;
    height: auto;
    opacity: .9;
    padding: 0;
    
    
}

.skill-set{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;   
}

.myface{
    width: 40%;
    height: auto;
    border-radius: 50%;
     float: left;
    background: #fff;
    -webkit-shape-outside:circle(50%);
    -moz-shape-outside:circle(50%);
    -o-shape-outside:circle(50%);
    shape-outside:circle(50%);
    margin-right: 20px;
}


//SLIDE INSERT

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

//LINKS

a:link,a:visited{
    text-decoration: none;
    color: #B1B1B1;
    transition: color .4s ease-in-out;
}

a:hover{
    color: $charcoal;
    
}

